body{
    margin: 0%;
    background-image: linear-gradient(110deg,violet,purple);
    font-family: monospace;
}
.albums{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
    margin: 30px;
}
.album{
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;

}
.album-artwork{
    /* margin-left: 15px; */
    width: 100%;
    margin: 15px;
}
.album-details{
    margin-left: 15px;
}

.heading{
    font-size: small;
}

.paragraph{
    font-size: small;
}