@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

body{
    /* margin: 20px; */
    margin: 0;
    background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg), linear-gradient(248deg, #bdc3c7, #2c3e50);
    box-sizing: border-box;
    /* background-size: cover; */
    background-attachment: fixed;
    /* text-align: center; */
    /* font-family: monospace; */
    /* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
    
    
    
}
li,a,button,p,.logo,h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

body a{
    color: whitesmoke;
}

img{
    border: white;
    border-radius: 39px;
}
/* p{
    color: rgb(194, 194, 194);
} */
h2{
    color:rgb(223, 223, 223);
}
button{
    background-color: #bdc3c7;
    width: auto;
    color: #2c3e50;
    font-size: 19px;
    border-radius: 25px;
    border: 1px solid #bdc3c7;
    padding: 4px;
}
button:hover{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    background-color: #2c3e50;
}
.logo{
    height: auto;
    width: 200px;
    display: inline-block;
}
.navbar{
    /* position: sticky;
    top: 0px; */
    /* height: 10%; */
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    background-color: #2c3e50;
    padding: 1px;
    /* border-bottom: 0.5px solid white; */
    
}
.navbar ul{
    overflow: auto;
    
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 10px;
}
.navbar li a{
    text-decoration: none;
    /* color: darkgray; */
    padding: 0px 8px;
    
}
.navbar li a:hover{
    /* opacity: 0.5; */
    text-decoration: underline;
}
.navbar-right{
    float: right;
    margin-right: 34px;
}
.navbar-right a{
    font-size: 23px;
    
}
/* .search{

    float: right;
    padding: 14px 70px;
    
}
.navbar input{
    
    background: linear-gradient(248deg, #bdc3c7, #bdc3c7);
    border: #2c3e50;
    border-radius: 4px;
} */
.icon{
    font-size: 23px;
}
.logo{
    color: white;
    font-size: 30px;
    padding: 0px 8px;
    margin: 6px;
}





/* .header{
    height: auto;
    background-image: linear-gradient(110deg,#2c3e50, #2c3e50);
    animation-name: header-animation;
    animation-duration: 3s;
    border: transparent;
    border-radius: 34px;
    text-align: center;
    margin-left: 380px;
    margin-right: 380px;
} */
/* .header h2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.header h2::before{
    background: linear-gradient(90deg, yellow, transparent);
    height: 10px;
    content: "";
    display: block;
}
.header h2::after{
    background: linear-gradient(90deg, transparent, yellow);
    height: 10px;
    content: "";
    display: block;
} */
#intro{
    color: white;
    background-color: #2c3e50;
    width: auto;
    height: fit-content;
    margin: 2rem  ;
    padding: 4rem;
    text-align: right;
    
}

.cards{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 20px;
    align-content: center;
    align-items: center;
    
}
.cards p{
    color: rgb(194, 194, 194);
}
.cards a:hover{
    opacity: 0.7;
}
.cards a:hover{
    /* opacity: 0.5; */
    text-decoration: underline;
}
.card{
    background-image: linear-gradient(110deg, transparent, #2c3e50);
    border: transparent;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr ;
    animation-name: style1;
    animation-duration: 2s;
    border: transparent;
    border-radius: 62px;

}

.card-image{
    margin: 25px;
    height: 146px;
    width: auto;
    
}
.card-content{
    /* margin-top: 79px; */
    /* font: smaller; */
    margin: 52px 20px 20px 25px;
}



.thankyou h2{
    display: grid;
    grid-gap: 20px;
    color: black;
    border: 1px solid #2c3e50;
    border-radius: 14px;
    /* height: 3444px; */
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.thankyou h2::before{
    background: linear-gradient(90deg,transparent, #2c3e50);
    height: 20px;
    border-radius: 5px;
    content: "";
    display: block;
}
.thankyou h2::after{
    background: linear-gradient(90deg, #2c3e50,transparent);
    height: 20px;
    border-radius: 5px;
    content: "";
    display: block;
}









.footer{
    height: 200px;
    background: #2c3e50;
    position: sticky;
    bottom: 0px;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer ul{
    padding: 30px;

}
.LastDiv{
    background-color: #bdc3c7;
    height: 18px;
    text-align: center;
    padding: 11px;
}
.LastDiv:hover{
    cursor: default;
}


@media only screen and(max-width: 600px){
    #navbar-right{
        display: none;
    }
}










@keyframes style1{
    from{
        height: 300%;
        
    }
    to{
        height: 200px;
    }
}

/* @keyframes header-animation{
    from{
        width: 300%;
        margin-left: 100%;
    }
    to{
        width: 463px;
        margin-left: 31%;
    }
} */





